.infoContainer {
    border-radius: 15px;
    background-color: #5C87DB;
}

.formContainer {
    margin: 17px 30px 30px 30px;
}

.infoForm {
    display: flex;
}

.submitContainer {
    background-color: #ffffff;
    box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
    display: flex;
    justify-content: end;
    border-radius: 0 0 15px 15px;
}

.submitButton {
    background-color: #5C87DB;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 23px 29px;
}

.submitButton:hover {
    background-color: #3E67B7;
}

.submitButton:active {
    background-color: #5C87DB;
    color: #FFFFFF80;
}

.submitButton:disabled {
    background-color: #B7BAC1;
}



